<!DOCTYPE html>
<html>
    <head>
        <title>Exercise Tracker</title>
        <link rel="stylesheet" href="/public/styles.css">
    </head>
    <body>
        <h1>Exercise Tracker</h1>
        <hr>
        <div class="section">
            <h3>Create New User</h3>
            <p>POST /api/users</p>
            <form method="post" action="/api/users">
                <input type="text" name="username" placeholder="username" oninvalid="this.setCustomValidity('Username is required.')" required/>
                <button type="submit">Add User</button>
            </form>
        </div>
        <div class="section">
            <h3>Add Exercise</h3>
            <p>POST /api/users/:id/exercises</p>
            <form id="exerciseForm" method="post" action="">
                <input type="text" name="userid" placeholder="user _id"/>
                <input type="text" name="description" placeholder="description*" required />
                <input type="number" name="duration" placeholder="duration*(mins.)" required />
                <input type="text" name="date" placeholder="date (yyyy-mm-dd)" />
                <button type="submit">Add Exercise</button>
            </form>
        </div>
        <p><b>GET user's exercise log:</b><span>GET /api/users/:id/logs?[from][&to][&limit]</span> </p>
        <p><b>[]</b> = optional</p>
        <p><b>from, to</b> = dates (yyyy-mm-dd); <b>limit</b> = number</p>
    </body>
    <script>
        var exerciseForm = document.getElementById('exerciseForm');
        exerciseForm.addEventListener('submit',(event)=>{
            event.preventDefault();
            var userID = document.getElementsByName('userid')[0].value;
            exerciseForm.action = `/api/users/${userID}/exercises`;
            exerciseForm.submit();
        })
    </script>
</html>